doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title=title
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        // jQuery goes first
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/javascripts/bootpag.js')
        script(src='/javascripts/notify.js')
    body
        nav.navbar.navbar-expand-md.navbar-light(id='navId')
            a.navbar-brand(href='/') SMS Admin Panel
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
            div.collapse.navbar-collapse(id='navbarSupportedContent')
                ul(id='ulContent').navbar-nav.mr-auto
                    li(class=title==='SMS List'?'active':undefined).nav-item
                        a.nav-link(href='/smsAdmin/allsms') All SMS
                    li(class=title==='Hourly messages'?'active':undefined).nav-item
                        a.nav-link(href='/smsAdmin/hourly_messages') Hourly
                    li(class=title==='Daily messages'?'active':undefined).nav-item
                        a.nav-link(href='/smsAdmin/daily_messages') Daily
                    li(class=title==='Whitelist messages'?'active':undefined).nav-item
                        a.nav-link(href='/smsAdmin/whitelist') WhiteList
                    li(class=title==='Blacklist messages'?'active':undefined).nav-item
                        a.nav-link(href='/smsAdmin/blackList') BlackList
        main(role='main')
            div.jumbotron.bg-light
                div.container
                    block content
                //script(src='/javascript/my.js')
            footer.footer &copy; Company 2018