extends layout

block content

    if sms
        p #[strong Recipient:] #{sms.recipient}
        p #[strong Content:] #{sms.content}
        p #[strong Created:] #{sms.createdAt}
        p #[strong Updated:] #{sms.updatedAt}
        p #[strong ID:] #{sms._id}

    else
        p There are no sms here.